<div *ngIf="!editAdminStatus" class="edit  d-flex flex-column align-items-center justify-content-center">
    <img width="200px" height="200px" [src]="profilePicture" alt="">
    <br>
    <button (click)="editAdminBtn()" class="btn btn-link"><i class="fa-regular fa-pen-to-square"></i> Edit Admin Details</button>
</div>

<div  *ngIf="editAdminStatus" class="admin-detail  d-flex flex-column align-items-center justify-content-center w-100">
  <h3>Update Admin Details</h3>
  <label>
    <input type="file" style="display: none;">
    <img (change)="getFile($event)" width="200px" height="200px" [src]="profilePicture" alt="">

  </label>
  <input [(ngModel)]="adminDetails.name" type="text" placeholder="Admin Name" class="form-control mt-2" >
  <input [(ngModel)]="adminDetails.Password"type="text" placeholder="Admin Password" class="form-control mt-2" >
  <div class="d-flex justify-content-evenly mt-3 w-100">
    <button (click)="editAdmin()" class="btn btn-success">Update</button>
    <button (click)="onCancel()" class="btn btn-danger">cancel</button>
  </div>
</div>